extends layout

block styles
  link(rel='stylesheet', href='/error/css/main.css')
  
block content
  div.errorContainer
    img(src="/error/img/404.png", width="500")
    p.tips 出错了，您访问的链接不存在！
    //- pre #{error.stack}
