doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title=title
		link(rel='stylesheet', href='/common/static/css/base.css')
		link(rel='stylesheet', href='/common/static/css/font.css')
		block styles
body
	block content

	script(src="/node_modules/jQuery/dist/jquery.min.js")
	script(src="/common/components/esl/src/esl.js")
	block scripts
