extends ../layout
block styles
	//- link(rel='stylesheet', href='/passport/main.css')
block content
	//- ul.login_userlist
	//- 	for user in users
	//- 		li
	//- 			span #{user.name}
	//- 			a(href="#") 发起会话
				
block scripts
	//- script require(['/index/main'])


