extends ../layout
block styles
	link(rel='stylesheet', href='/index/css/index.css')
block content
	.container
		canvas.clock Your browser does not support the canvas element.
		p.developing 敬请期待……
block scripts
	script require(['/index/js/index'])


