#imessage {
  overflow: hidden;
  margin: 40px auto;
  width: 1198px;
  height: 560px;
  border: 1px solid #dce0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
  zoom: 1;
}
#imessage:before,
#imessage:after {
  content: "";
  display: table;
}
#imessage:after {
  clear: both;
}
#imessage pre {
  margin: 0;
}
#imessage pre .emoji {
  width: 18px;
  vertical-align: middle;
  margin: 0 2px;
}
#imessage .thumb_picture {
  cursor: pointer;
}
#imessage .people_container {
  width: 322px;
  height: 100%;
  border-right: 1px solid #dce0e0;
}
#imessage .people_container .people_list {
  height: 597px;
}
.people_list .no_msg{
  margin: 40px 0;
  text-align: center;
}
.people_list .no_msg a{
  color: #00b38a;
}
#imessage .people_container dl {
  border-bottom: 1px dashed #dce0e0;
  padding: 14px;
  zoom: 1;
  cursor: default;
}
#imessage .people_container dl:before,
#imessage .people_container dl:after {
  content: "";
  display: table;
}
#imessage .people_container dl:after {
  clear: both;
}
#imessage .people_container dl:hover .delete-icon {
  display: block;
}
#imessage .people_container dl.active,
#imessage .people_container dl:hover {
  background-color: #e9eeef;
}
#imessage .people_container dt {
  position: relative;
  width: 38px;
  height: 38px;
  float: left;
}
#imessage .people_container dd {
  position: relative;
  width: 230px;
  float: right;
}
#imessage .people_container .icons {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
}
#imessage .people_container .icons.icon-earphone {
  font-size: 24px;
  background-color: #00cc74;
  text-align: center;
  line-height: 38px;
}
#imessage .people_container .icons.bell-icon {
  background-color: #646e9f;
  text-align: center;
}
#imessage .people_container .icons.bell-icon:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  content: ' ';
  background: url(../img/msg-icon.png) no-repeat center center;
}
#imessage .people_container .unread_count {
  position: absolute;
  left: 30px;
  top: -11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 4px;
  min-width: 22px;
  height: 22px;
  border: 2px solid #fff;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  background-color: #ff5842;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  font-family: Arial;
}
#imessage .people_container .unread_count.more:after {
  content: "+";
  position: relative;
  top: -2px;
}
#imessage .people_container .delete-icon {
  display: none;
  position: absolute;
  z-index: 1;
  right: -10px;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #f00;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}
#imessage .people_container .time {
  position: absolute;
  right: 16px;
  top: 0;
  color: #999;
  font-size: 12px;
}
#imessage .people_container h4 {
  width: 136px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}
#imessage .people_container .msg,
#imessage .people_container .category_bar {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
#imessage .people_container .msg {
  color: #777;
}
#imessage .people_container .msg .emoji {
  width: 18px;
  vertical-align: middle;
  margin: 0 2px;
}
#imessage .people_container p {
  line-height: 26px;
}
#imessage .people_container .status.working {
  color: #3dca99;
}
#imessage .people_container .status.ready {
  color: #ed7266;
}
#imessage .category_title {
  height: 62px;
  line-height: 62px;
  border-bottom: 1px solid #dce0e0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#imessage .category_title a {
  color: #3dca99;
}
#imessage .msg_container {
  width: 875px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#imessage .msg_container .no_msg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
#imessage .msg_container .time_line {
  text-align: center;
  padding-top: 22px;
}
#imessage .msg_container .time_line span {
  display: inline-block;
  vertical-align: middle;
}
#imessage .msg_container .line {
  height: 1px;
  width: 20px;
  background-color: #dce0e0;
  margin: 0 6px;
}
#imessage .msg_container .time {
  font-size: 12px;
  color: #999;
}
#imessage .msg_content {
  height: 422px;
  overflow-y: scroll;
}
#imessage .main_content {
  margin: 0 20px 20px;
}
#imessage .session_tips {
  font-size: 12px;
  color: #c5c5c5;
  line-height: 22px;
  padding: 22px 39px;
  border-bottom: 1px solid #f4f4f4;
}
#imessage .status_msg {
  padding: 0 39px;
  margin-top: 22px;
}
#imessage .status_msg h4 {
  color: #3dca99;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
#imessage .status_msg p {
  line-height: 26px;
  color: #666;
  margin-top: 6px;
}
#imessage .load_more {
  color: #999;
  text-align: center;
  line-height: 28px;
}
#imessage .session_bubble {
  zoom: 1;
  padding-top: 22px;
}
#imessage .session_bubble:before,
#imessage .session_bubble:after {
  content: "";
  display: table;
}
#imessage .session_bubble:after {
  clear: both;
}
#imessage .session_bubble .icons {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
#imessage .session_bubble .icon-earphone {
  font-size: 24px;
  background-color: #00cc74;
  text-align: center;
  line-height: 38px;
}
#imessage .session_bubble .bell-icon {
  text-align: center;
  background-color: #646e9f;
}
#imessage .session_bubble .bell-icon:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  content: ' ';
  background: url(../img/msg-icon.png) no-repeat center center;
}
#imessage .session_bubble.myself dt,
#imessage .session_bubble.myself dd {
  float: right;
}
#imessage .session_bubble.myself dt .arrow,
#imessage .session_bubble.myself dd .arrow {
  left: auto;
  right: -5px;
  background-image: url(../img/arrow2.png);
}
#imessage .session_bubble.myself dd {
  background-color: #3dca99;
  color: #fff;
}
#imessage .session_bubble.myself dd.playing .audio-icon {
  background-image: url(../img/voice-white.gif);
}
#imessage .session_bubble.myself dd .audio-icon {
  background-image: url(../img/voice-white.png);
}
#imessage .session_bubble.myself dd .time {
  right: auto;
  left: -30px;
}
#imessage .session_bubble .mark {
  color: #3dca99;
}
#imessage .session_bubble dt,
#imessage .session_bubble dd {
  float: left;
}
#imessage .session_bubble dt {
  width: 38px;
  height: 38px;
}
#imessage .session_bubble dd {
  position: relative;
  max-width: 380px;
  background-color: #e9eeef;
  margin: 0 16px;
  padding: 10px 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 22px;
}
#imessage .session_bubble dd.clip_img {
  padding: 0;
  background: none;
}
#imessage .session_bubble dd.audio_panel {
  cursor: pointer;
}
#imessage .session_bubble dd.playing .audio-icon {
  background-image: url(../img/voice.gif);
}
#imessage .session_bubble dd .arrow {
  display: block;
  position: absolute;
  left: -5px;
  top: 7px;
  width: 5px;
  height: 11px;
  background: url(../img/arrow.png) no-repeat;
}
#imessage .session_bubble dd .audio-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 19px;
  background: url(../img/voice.png) no-repeat;
}
#imessage .session_bubble dd .space {
  display: inline-block;
  vertical-align: middle;
  height: 0;
}
#imessage .session_bubble dd .time {
  position: absolute;
  right: -30px;
  top: 0;
}
#imessage .session_form {
  position: relative;
  height: 46px;
  padding: 14px 0;
  border-top: 1px solid #dce0e0;
  text-align: center;
  background-color: #fff;
  white-space: nowrap;
}
#imessage .session_form .emoji_content {
  position: absolute;
  left: 20px;
  bottom: 64px;
  width: 336px;
  border: 1px solid #dce0e0;
  background-color: #fff;
  padding: 8px;
  text-align: left;
  border-radius: 3px;
  white-space: normal;
}
#imessage .session_form .emoji_content .arrow {
  display: block;
  position: absolute;
  left: 30px;
  bottom: -7px;
  width: 16px;
  height: 7px;
  background: url(../img/down-tips.png) no-repeat;
  transform: rotate(180deg);
}
#imessage .session_form .emoji_content .emoji {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
}
#imessage .session_form .emoji_content .emoji:hover {
  background-color: #eee;
}
#imessage .session_form label form {
  display: inline-block;
}
#imessage .session_form .icons {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
#imessage .session_form .icons:hover {
  color: #3dca99;
}
#imessage .session_form .icon-add {
  position: relative;
}
#imessage .session_form .file_img {
  display: none;
}
#imessage .session_form #text_area {
  display: inline-block;
  resize: none;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  padding: 12px 10px;
  width: 604px;
  border: 1px solid #dce0e0;
  font-size: 14px;
  margin: 0 8px;
  text-align: left;
  overflow: hidden;
}
#imessage .session_form #text_area img {
  width: 18px;
  vertical-align: middle;
}
#imessage .session_form input[type=submit] {
  width: 112px;
  height: 46px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #3dca99;
  color: #fff;
  font-size: 16px;
  margin: 0 8px;
}
#imessage .uploading {
  position: absolute;
  left: 50%;
  bottom: 82px;
  z-index: 1;
  margin-left: -120px;
  width: 240px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 6px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
#imessage .uploading span,
#imessage .uploading i {
  display: inline-block;
  vertical-align: middle;
}
#imessage .uploading .loading-icon {
  width: 28px;
  height: 28px;
  background: url(/static/common/static/img/loading.png) no-repeat;
  background-size: contain;
  margin-right: 20px;
  transform: rotate(90deg);
  animation: followCircle .8s linear 0s infinite;
}
#imessage .msg_loading {
  color: #999;
  font-size: 16px;
  text-align: center;
  padding: 100px 0;
}
#imessage .msg_loading span,
#imessage .msg_loading i {
  display: inline-block;
  vertical-align: middle;
}
#imessage .msg_loading .loading-icon {
  width: 28px;
  height: 28px;
  background: url(/static/common/static/img/loading.png) no-repeat;
  background-size: contain;
  margin-right: 20px;
  transform: rotate(90deg);
  animation: followCircle .8s linear 0s infinite;
}