#imessage {
  overflow: hidden;
  width: 9.38rem;
  height: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #dce0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  zoom: 1;
}
#imessage:before,
#imessage:after {
  content: "";
  display: table;
}
#imessage:after {
  clear: both;
}
#imessage pre {
  margin: 0;
}
#imessage pre .emoji {
  width: 18px;
  vertical-align: middle;
  margin: 0 2px;
}
#imessage .thumb_picture {
  cursor: pointer;
}
#imessage .people_container,
#imessage .msg_container {
  height: 100%;
}
#imessage .people_container .people_list {
  height: -moz-calc(100% - 1.25rem);
  height: -webkit-calc(100% - 1.25rem);
  height: calc(100% - 1.25rem);
  overflow-y: scroll;
}
.people_list .no_msg{
  margin: 40px 0;
  text-align: center;
}
.people_list .no_msg a{
  color: #00b38a;
}
#imessage .people_container dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #dce0e0;
  padding: .25rem;
  zoom: 1;
  cursor: default;
}
#imessage .people_container dl:before,
#imessage .people_container dl:after {
  content: "";
  display: table;
}
#imessage .people_container dl:after {
  clear: both;
}
#imessage .people_container dl.active .delete-icon {
  display: block;
}
#imessage .people_container dl.active,
#imessage .people_container dl:hover {
  background-color: #e9eeef;
}
#imessage .people_container dt {
  width: 1rem;
  height: 1rem;
  position: relative;
}
#imessage .people_container dt img {
  width: 100%;
  height: 100%;
}
#imessage .people_container dd {
  width: 7rem;
  position: relative;
}
#imessage .people_container .icons {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
}
#imessage .people_container .icons.icon-earphone {
  font-size: 24px;
  background-color: #00cc74;
  text-align: center;
  line-height: 38px;
}
#imessage .people_container .icons.bell-icon {
  background-color: #646e9f;
  text-align: center;
}
#imessage .people_container .icons.bell-icon:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  content: ' ';
  background: url(../img/msg-icon.png) no-repeat center center;
}
#imessage .people_container .unread_count {
  position: absolute;
  right: -11px;
  top: -11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 4px;
  min-width: 22px;
  height: 22px;
  border: 2px solid #fff;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  background-color: #ff5842;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  font-family: Arial;
}
#imessage .people_container .unread_count.more:after {
  content: "+";
  position: relative;
  top: -2px;
}
#imessage .people_container .delete-icon {
  display: none;
  position: absolute;
  z-index: 1;
  right: -10px;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #f00;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}
#imessage .people_container .time {
  width: 124px;
  position: absolute;
  right: 16px;
  top: 0;
  color: #999;
  font-size: 12px;
  text-align: right;
}
#imessage .people_container h4 {
  width: -moz-calc(100% - 140px);
  width: -webkit-calc(100% - 140px);
  width: calc(100% - 140px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}
#imessage .people_container .msg,
#imessage .people_container .category_bar {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
#imessage .people_container .msg {
  color: #777;
}
#imessage .people_container .msg .emoji {
  width: 18px;
  vertical-align: middle;
  margin: 0 2px;
}
#imessage .people_container p {
  line-height: 26px;
}
#imessage .people_container .status.working {
  color: #3dca99;
}
#imessage .people_container .status.ready {
  color: #ed7266;
}
#imessage .category_title {
  height: 1.25rem;
  line-height: 1.25rem;
  border-bottom: 1px solid #dce0e0;
  font-size: .44rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}
#imessage .msg_container .category_title:before {
  content: '<';
  font-size: .63rem;
  position: absolute;
  left: .38rem;
  top: 0;
  color: #3dca99;
}
#imessage .category_title a {
  color: #3dca99;
}
#imessage .msg_container {
  position: relative;
}
#imessage .had_msg {
  height: 100%;
}
#imessage .msg_container .no_msg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
#imessage .msg_container .time_line {
  text-align: center;
  padding-top: 22px;
}
#imessage .msg_container .time_line span {
  display: inline-block;
  vertical-align: middle;
}
#imessage .msg_container .line {
  height: 1px;
  width: 20px;
  background-color: #dce0e0;
  margin: 0 6px;
}
#imessage .msg_container .time {
  font-size: 12px;
  color: #999;
}
#imessage .msg_content {
  height: -moz-calc(100% - 2.5rem);
  height: -webkit-calc(100% - 2.5rem);
  height: calc(100% - 2.5rem);
  overflow-y: scroll;
}
#imessage .main_content {
  margin: 0 .4rem .4rem;
}
#imessage .session_tips {
  font-size: 12px;
  color: #c5c5c5;
  line-height: 22px;
  padding: 22px 39px;
  border-bottom: 1px solid #f4f4f4;
}
#imessage .status_msg {
  padding: 0 39px;
  margin-top: 22px;
}
#imessage .status_msg h4 {
  color: #3dca99;
  font-size: 14px;
  text-align: center;
  margin: 0;
}
#imessage .status_msg p {
  line-height: 26px;
  color: #666;
  margin-top: 6px;
}
#imessage .load_more {
  color: #999;
  text-align: center;
  line-height: 28px;
}
#imessage .session_bubble {
  zoom: 1;
  padding-top: 22px;
}
#imessage .session_bubble:before,
#imessage .session_bubble:after {
  content: "";
  display: table;
}
#imessage .session_bubble:after {
  clear: both;
}
#imessage .session_bubble .icons {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
#imessage .session_bubble .icon-earphone {
  font-size: 24px;
  background-color: #00cc74;
  text-align: center;
  line-height: 38px;
}
#imessage .session_bubble .bell-icon {
  text-align: center;
  background-color: #646e9f;
}
#imessage .session_bubble .bell-icon:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  content: ' ';
  background: url(../img/msg-icon.png) no-repeat center center;
}
#imessage .session_bubble.myself dt,
#imessage .session_bubble.myself dd {
  float: right;
}
#imessage .session_bubble.myself dt .arrow,
#imessage .session_bubble.myself dd .arrow {
  left: auto;
  right: -5px;
  background-image: url(../img/arrow2.png);
}
#imessage .session_bubble.myself dd {
  background-color: #3dca99;
  color: #fff;
}
#imessage .session_bubble.myself dd.playing .audio-icon {
  background-image: url(../img/voice-white.gif);
}
#imessage .session_bubble.myself dd .audio-icon {
  background-image: url(../img/voice-white.png);
}
#imessage .session_bubble.myself dd .time {
  right: auto;
  left: -30px;
}
#imessage .session_bubble .mark {
  color: #3dca99;
}
#imessage .session_bubble dt,
#imessage .session_bubble dd {
  float: left;
}
#imessage .session_bubble dt {
  width: 12%;
}
#imessage .session_bubble dt img {
  width: 100%;
  height: 100%;
}
#imessage .session_bubble dd {
  position: relative;
  max-width: -webkit-calc(88% - 16px);
  max-width: calc(88% - 16px);
  background-color: #e9eeef;
  margin-right: 16px;
  padding: 10px 16px;
  box-sizing: border-box;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 22px;
}
#imessage .session_bubble dd.clip_img {
  padding: 0;
  background: none;
}
#imessage .session_bubble dd.audio_panel {
  cursor: pointer;
}
#imessage .session_bubble dd.playing .audio-icon {
  background-image: url(../img/voice.gif);
}
#imessage .session_bubble dd .arrow {
  display: block;
  position: absolute;
  left: -5px;
  top: 7px;
  width: 5px;
  height: 11px;
  background: url(../img/arrow.png) no-repeat;
}
#imessage .session_bubble dd .audio-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 19px;
  background: url(../img/voice.png) no-repeat;
}
#imessage .session_bubble dd .space {
  display: inline-block;
  vertical-align: middle;
  height: 0;
}
#imessage .session_bubble dd .time {
  position: absolute;
  right: -30px;
  top: 0;
}
#imessage .session_form {
  position: relative;
  height: 1.25rem;
  box-sizing: border-box;
  border-top: 1px solid #dce0e0;
  text-align: center;
  background-color: #fff;
  white-space: nowrap;
}
#imessage .session_form .emoji_content {
  position: absolute;
  left: 0;
  bottom: 1.25rem;
  border: 1px solid #dce0e0;
  background-color: #fff;
  padding: .13rem;
  text-align: left;
  border-radius: 3px;
  white-space: normal;
}
#imessage .session_form .emoji_content .arrow {
  display: block;
  position: absolute;
  left: 10px;
  bottom: -7px;
  width: 16px;
  height: 7px;
  background: url(../img/down-tips.png) no-repeat;
  transform: rotate(180deg);
}
#imessage .session_form .emoji_content .emoji {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
}
#imessage .session_form .emoji_content .emoji:hover {
  background-color: #eee;
}
#imessage .session_form label form {
  display: inline-block;
}
#imessage .session_form .icons {
  font-size: 24px;
  vertical-align: middle;
  cursor: pointer;
}
#imessage .session_form .icons:hover {
  color: #3dca99;
}
#imessage .session_form .icon-add {
  position: relative;
}
#imessage .session_form .file_img {
  display: none;
}
#imessage .session_form #text_area {
  resize: none;
  vertical-align: middle;
  box-sizing: border-box;
  height: 1rem;
  box-sizing: border-box;
  padding: .2rem .3rem;
  line-height: .6rem;
  width: 60%;
  border: 1px solid #dce0e0;
  font-size: 12px;
  text-align: left;
  overflow: hidden;
}
#imessage .session_form #text_area img {
  width: 18px;
  vertical-align: middle;
}
#imessage .session_form input[type=submit] {
  width: 20%;
  height: 1rem;
  -webkit-border-radius: .31rem;
  -moz-border-radius: .31rem;
  border-radius: .31rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background-color: #3dca99;
  color: #fff;
  font-size: .38rem;
}
#imessage .uploading {
  position: absolute;
  left: 50%;
  bottom: 82px;
  z-index: 1;
  margin-left: -120px;
  width: 240px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 6px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
#imessage .uploading span,
#imessage .uploading i {
  display: inline-block;
  vertical-align: middle;
}
#imessage .uploading .loading-icon {
  width: 28px;
  height: 28px;
  background: url(/static/common/static/img/loading.png) no-repeat;
  background-size: contain;
  margin-right: 20px;
  transform: rotate(90deg);
  animation: followCircle .8s linear 0s infinite;
}
#imessage .msg_loading {
  color: #999;
  font-size: 16px;
  text-align: center;
  padding: 100px 0;
}
#imessage .msg_loading span,
#imessage .msg_loading i {
  display: inline-block;
  vertical-align: middle;
}
#imessage .msg_loading .loading-icon {
  width: 28px;
  height: 28px;
  background: url(/static/common/static/img/loading.png) no-repeat;
  background-size: contain;
  margin-right: 20px;
  transform: rotate(90deg);
  animation: followCircle .8s linear 0s infinite;
}
#imessage .enter_entry {
  display: flex;
  height: -moz-calc(1.25rem - 1px);
  height: -webkit-calc(1.25rem - 1px);
  height: calc(1.25rem - 1px);
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 400px) {
  #imessage .session_form #text_area {
    font-size: 14px;
  }
}